---
import Preloader from '@components/Preloader.astro';
import Navbar from '@components/Navbar.astro';
import Layout from 'src/layouts/Layout.astro';
import Header from '@components/Header.astro';
import GlassHero from '@components/GlassHero.astro';
import ServiceCards from '@components/ServiceCards.astro';
import Footer from '@components/Footer.astro';
import WhatsAppButton from '@components/WhatsAppButton.astro';
---

<Layout title="AlifSense">
  <div class="main-box-style1 bg-white radius-9 mx-4 my-3 mt-4">
    <Preloader />
    <Navbar />
    <Header />
  </div>
  <GlassHero />
  <ServiceCards />
  <Footer />
  <WhatsAppButton />
</Layout>
