---
import Preloader from '@components/Preloader.astro';
import Navbar from '@components/Navbar.astro';
import Layout from 'src/layouts/Layout.astro';
import Header from '@components/Header.astro';
import Services from '@components/Services.astro';
import Partners from '@components/Partners.astro';
import Teams from '@components/Teams.astro';
import Awards from '@components/Awards.astro';
import Footer from '@components/Footer.astro';
import Portfolio from '@components/Portfolio.astro';
---

<Layout title="AlifSense">
  <div class="main-box-style1 bg-white radius-9 mx-4 my-3 mt-4">
    <Preloader />
    <Navbar />
    <Header />
    <Portfolio />
  </div>
  <Services />
  <Partners />
  <Teams />
  <Awards />
  <Footer />
</Layout>
