<div class="tc-awards-style1 main-box-style1 bg-white radius-9 mx-4 my-3">
  <div class="container">
    <div class="tc-section-title-style1 mb-40">
      <h2>Our <span> Awards</span></h2>
    </div>
    <div class="content wow fadeInUp">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">hosted</th>
              <th scope="col">Award</th>
              <th scope="col">project</th>
              <th scope="col">year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Awwwards</td>
              <td><strong> SOTY 2023 - 1st Winner</strong></td>
              <td><a href="#"> Newz - eMagazine Website</a></td>
              <td>2023</td>
            </tr>
            <tr>
              <td>CSS Awards</td>
              <td><strong> Top 5 Best UI/UX Design 2023</strong></td>
              <td><a href="#"> Mails Manage Mobile App</a></td>
              <td>2023</td>
            </tr>
            <tr>
              <td>waf festival us</td>
              <td><strong> Honor Award Winner</strong></td>
              <td><a href="#"> Newz - eMagazine Website</a></td>
              <td>2022</td>
            </tr>
            <tr>
              <td>design awards</td>
              <td><strong> Branding 1st Winner</strong></td>
              <td><a href="#"> Zuma Branding</a></td>
              <td>2022</td>
            </tr>
            <tr>
              <td>US Behance 2023</td>
              <td>
                <strong> Top 5 Best Be Portfolio US 2021</strong>
              </td>
              <td>
                <a href="#"> The Matter - Course Online Landing Page</a>
              </td>
              <td>2021</td>
            </tr>
            <tr>
              <td>UI/UX global awards</td>
              <td>
                <strong> International UI/UX Design Awards 2020</strong>
              </td>
              <td><a href="#"> Jamx - Jamstact Conf Site</a></td>
              <td>2020</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="button_su mt-70">
        <span class="su_button_circle bg-black desplode-circle"></span>
        <a href="#" class="butn text-capitalize button_su_inner hover-white">
          <span class="button_text_container">
            Show More <i class="ti-angle-down ms-2"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="slider-content float_box_container overflow-hidden pt-100 pb-100">
    <div class="tc-awards-slider1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="service-card">
            <h2><a href="#">Get Free Quote</a></h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-card">
            <h2><a href="#">Get Free Quote</a></h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-card">
            <h2><a href="#">Get Free Quote</a></h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-card">
            <h2><a href="#">Get Free Quote</a></h2>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-card">
            <h2><a href="#">Get Free Quote</a></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="float_box">
      <p><i class="ti-arrow-top-right fsz-70"></i></p>
    </div>
  </div>
</div>
