<!--Start Hero-->
<section class="digitalagency20 glassmorphism">
  <div class="niwaxheroscroll">
    <img src="images/shape/shape-a.png" class="alifsense nxhs1" alt="icon" data-rellax-speed="4" />
    <img src="images/shape/shape-b.png" class="alifsense nxhs2" alt="icon" data-rellax-speed="-3" />
    <img src="images/shape/shape-c.png" class="alifsense nxhs3" alt="icon" data-rellax-speed="1" />
    <img src="images/shape/shape-d.png" class="alifsense nxhs4" alt="icon" data-rellax-speed="-5" />
    <img src="images/shape/shape-e.png" class="alifsense nxhs5" alt="icon" data-rellax-speed="-2" />
  </div>
  <div class="hero-main-rp container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <div class="hero-heading-sec">
          <h2 class="wow fadeIn" data-wow-delay="0.3s">Award winning digital design agency based in India</h2>
          <p class="wow fadeIn" data-wow-delay="0.6s">
            Website and App development solution for transforming and innovating businesses.
          </p>
          <a href="case-study.html" class="btn-main bg-btn lnk wow fadeIn" data-wow-delay="0.8s"
            >View Case Studies <i class="fas fa-chevron-right fa-ani"></i><span class="circle"></span></a
          >
          <!-- <div class="awards-block-tt wow fadeIn" data-wow-delay="1s">
            <img src="images/hero/awards-logo.png" alt="awards-logo" class="img-fluid" />
          </div> -->
        </div>
      </div>
      <div class="col-lg-7">
        <!-- <div class="hero-content-sec wow fadeIn" data-wow-delay="0.8s">
          <div class="video-intro-pp">
            <a class="video-link play-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8?autoplay=1&rel=0"
              ><span class="triangle-play"></span></a
            >
          </div>
          <div class="title-hero-oth">
            <p>We design digital solutions <span>for brands and companies</span></p>
          </div>
        </div> -->
        <div class="hero-right-scmm">
          <div class="hero-service-cards wow fadeInRight" data-wow-duration="2s">
            <div class="owl-carousel service-card-prb">
              <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                <a href="#">
                  <div class="service-card-hh">
                    <div class="image-sr-mm">
                      <img alt="custom-sport" src="images/service/vr.png" />
                    </div>
                    <div class="title-serv-c"><span>Custom</span> Web Development</div>
                  </div>
                </a>
              </div>
              <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                <a href="#">
                  <div class="service-card-hh">
                    <div class="image-sr-mm">
                      <img alt="custom-sport" src="images/service/app-develop.png" />
                    </div>
                    <div class="title-serv-c"><span>E-commerce</span> Development</div>
                  </div>
                </a>
              </div>
              <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                <a href="#">
                  <div class="service-card-hh">
                    <div class="image-sr-mm">
                      <img alt="custom-sport" src="images/service/startup.png" />
                    </div>
                    <div class="title-serv-c"><span>Content</span> Management Systems (CMS)</div>
                  </div>
                </a>
              </div>
              <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                <a href="#">
                  <div class="service-card-hh">
                    <div class="image-sr-mm">
                      <img alt="custom-sport" src="images/service/car-rental.png" />
                    </div>
                    <div class="title-serv-c"><span>Car</span> Rental Solution</div>
                  </div>
                </a>
              </div>
              <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                <a href="#">
                  <div class="service-card-hh">
                    <div class="image-sr-mm">
                      <img alt="custom-sport" src="images/service/marketing.png" />
                    </div>
                    <div class="title-serv-c"><span>Marketing</span> Solution</div>
                  </div>
                </a>
              </div>
              <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                <a href="#">
                  <div class="service-card-hh">
                    <div class="image-sr-mm">
                      <img alt="custom-sport" src="images/service/ewallet.png" />
                    </div>
                    <div class="title-serv-c"><span>e-Wallet</span> Solution</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Hero-->
