<header class="tc-header-style1 pb-70">
  <div class="container">
    <div class="row gx-0 align-items-center">
      <div class="col-lg-10">
        <h1 class="mb-2">
          <span class="pb-5 text-white">Design. Development.</span>

          <span class="fst-italic color-999 fw-500 fm-playfair"> Mastership</span>
        </h1>
        <p class="fsz-22 mt-60">
          We design and develop exceptional digital products and services, <br />
          eCommerce, and brand communication solutions.
        </p>
        <div class="tags mt-90">
          <a href="#" class="butn main-hover-black fsz-24 me-3 mt-4 mt-lg-0">
            <span> <i class="la la-crown me-2"></i> Branding</span>
          </a>
          <a href="#" class="butn main-hover-black fsz-24 me-3 mt-4 mt-lg-0">
            <span>
              <i class="la la-bezier-curve me-2"></i> Interaction
            </span>
          </a>
          <a href="#" class="butn main-hover-black fsz-24 me-3 mt-4 mt-lg-0">
            <span>
              <i class="la la-bullseye me-2"></i> Marketing
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="rotate-box" data-speed="1" data-lag="0.7">
          <a href="#" class="rotate-circle fsz-30 rotate-text d-inline-block text-uppercase">
            <svg class="textcircle" viewBox="0 0 500 500">
              <defs>
                <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"></path>
              </defs>
              <text>
                <textPath xlink:href="#textcircle" textLength="900"> . read more about us . Alifsense</textPath>
              </text>
            </svg>
          </a>
          <i class="ti-arrow-top-right icon fsz-45"></i>
        </div>
      </div>
    </div>
  </div>
</header>
