<!--  start cursor  -->
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
<!--  end cursor  -->

<!--  start to top button  -->
<a href="#" class="to_top">
  <i class="la la-angle-up"></i>
</a>
<!--  end to top button  -->
