---
import Testimonials from './Testimonials.astro';
---

<section class="tc-partners-style1 main-box-style1 bg-white radius-9 mx-4 my-3">
  <div class="container">
    <div class="tc-section-title-style1 mb-90">
      <h2>Partned with <span> 120+ Brands</span></h2>
    </div>
    <div class="content">
      <div class="row gx-3">
        <div class="col-lg-3">
          <a href="#" class="partner-card wow fadeInUp">
            <div class="logo">
              <img src="images/1.png" alt="" class="main-img lt_item" />
              <img src="images/1_lt.png" alt="" class="main-img dr_item" />
            </div>
            <div class="foot-inf">
              <p>Okgo</p>
              <span class="icon"> <i class="la la-plus"></i></span>
            </div>
            <div class="info">
              <p>
                Noxes is Norways largest financial services group. We help developed numerous digital product and
                promote websites for the company
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="partner-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="logo">
              <img src="images/2.png" alt="" class="main-img lt_item" />
              <img src="images/2_lt.png" alt="" class="main-img dr_item" />
            </div>
            <div class="foot-inf">
              <p>noxes</p>
              <span class="icon"> <i class="la la-plus"></i></span>
            </div>
            <div class="info">
              <p>
                Noxes is Norways largest financial services group. We help developed numerous digital product and
                promote websites for the company
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="partner-card wow fadeInUp" data-wow-delay="0.2s">
            <div class="logo">
              <img src="images/3.png" alt="" class="main-img lt_item" />
              <img src="images/3_lt.png" alt="" class="main-img dr_item" />
            </div>
            <div class="foot-inf">
              <p>Jamx</p>
              <span class="icon"> <i class="la la-plus"></i></span>
            </div>
            <div class="info">
              <p>
                Noxes is Norways largest financial services group. We help developed numerous digital product and
                promote websites for the company
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="partner-card wow fadeInUp" data-wow-delay="0.3s">
            <div class="logo">
              <img src="images/4.png" alt="" class="main-img lt_item" />
              <img src="images/4_lt.png" alt="" class="main-img dr_item" />
            </div>
            <div class="foot-inf">
              <p>Stripe</p>
              <span class="icon"> <i class="la la-plus"></i></span>
            </div>
            <div class="info">
              <p>
                Noxes is Norways largest financial services group. We help developed numerous digital product and
                promote websites for the company
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="partner-card wow fadeInUp">
            <div class="logo">
              <img src="images/5.png" alt="" class="main-img lt_item" />
              <img src="images/5_lt.png" alt="" class="main-img dr_item" />
            </div>
            <div class="foot-inf">
              <p>OAK</p>
              <span class="icon"> <i class="la la-plus"></i></span>
            </div>
            <div class="info">
              <p>
                Noxes is Norways largest financial services group. We help developed numerous digital product and
                promote websites for the company
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="partner-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="logo">
              <img src="images/6.png" alt="" class="main-img lt_item" />
              <img src="images/6_lt.png" alt="" class="main-img dr_item" />
            </div>
            <div class="foot-inf">
              <p>Tek React JS</p>
              <span class="icon"> <i class="la la-plus"></i></span>
            </div>
            <div class="info">
              <p>
                Noxes is Norways largest financial services group. We help developed numerous digital product and
                promote websites for the company
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="partner-card wow fadeInUp" data-wow-delay="0.2s">
            <div class="logo">
              <img src="images/7.png" alt="" class="main-img lt_item" />
              <img src="images/7_lt.png" alt="" class="main-img dr_item" />
            </div>
            <div class="foot-inf">
              <p>Javast</p>
              <span class="icon"> <i class="la la-plus"></i></span>
            </div>
            <div class="info">
              <p>
                Noxes is Norways largest financial services group. We help developed numerous digital product and
                promote websites for the company
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="partner-card wow fadeInUp" data-wow-delay="0.3s">
            <div class="logo">
              <img src="images/8.png" alt="" class="main-img lt_item" />
              <img src="images/8_lt.png" alt="" class="main-img dr_item" />
            </div>
            <div class="foot-inf">
              <p>Snyk</p>
              <span class="icon"> <i class="la la-plus"></i></span>
            </div>
            <div class="info">
              <p>
                Noxes is Norways largest financial services group. We help developed numerous digital product and
                promote websites for the company
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="numbs wow fadeInUp">
        <div class="numb-card">
          <h2><span class="counter"> 10</span> +</h2>
          <p>
            Years of <br />
            Experience
          </p>
        </div>

        <div class="numb-card">
          <h2><span class="counter"> 60</span></h2>
          <p>
            awards winning <br />
            accquired
          </p>
        </div>

        <div class="numb-card">
          <h2><span class="counter"> 45</span> +</h2>
          <p>
            multidisciplinary <br />
            designers and managers
          </p>
        </div>
      </div>
    </div>
  </div>
  <Testimonials />
</section>
