<section class="tc-portfolio-style1">
  <div class="container">
    <div class="tc-section-title-style1 mb-15">
      <h2 class="text-white">Featured <span> Works</span></h2>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-6">
          <a href="../inner_pages/page_single_project.html" class="portfolio-card md-card">
            <div class="img img-cover">
              <img src="images/3.jpeg" alt="" />
              <img src="images/1.jpg" alt="" />
              <span class="icon">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
            <div class="info pt-40">
              <h3 class="fsz-30 mb-10 text-white">Newz - eMagazine Website</h3>
              <p class="fsz-14 color-999">Branding, Web Design, Photography</p>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="../inner_pages/page_single_project.html" class="portfolio-card md-card">
            <div class="img img-cover">
              <img src="images/1.jpg" alt="" />
              <img src="images/2.jpg" alt="" />
              <span class="icon">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
            <div class="info pt-40">
              <h3 class="fsz-30 mb-10">Mails Manage Mobile App</h3>
              <p class="fsz-14 color-999">Mobile App Design</p>
            </div>
          </a>
        </div>
        <div class="col-lg-12">
          <a href="../inner_pages/page_single_project.html" class="portfolio-card lg-card">
            <div class="img img-cover">
              <img src="images/4.jpg" alt="" />
              <img src="images/3.jpeg" alt="" />
              <span class="icon">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
            <div class="info pt-40">
              <h3 class="fsz-30 mb-10">The Matter - Course Online Landing Page</h3>
              <p class="fsz-14 color-999">Web Design, Illusatrion, Animation, Marketing</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="../inner_pages/page_single_project.html" class="portfolio-card sm-card">
            <div class="img img-cover">
              <img src="images/5.jpg" alt="" />
              <img src="images/4.jpg" alt="" />
              <span class="icon">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
            <div class="info pt-40">
              <h3 class="fsz-30 mb-10">Unimo Rebranding</h3>
              <p class="fsz-14 color-999">Branding,, Photography</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="../inner_pages/page_single_project.html" class="portfolio-card sm-card">
            <div class="img img-cover">
              <img src="images/6.jpg" alt="" />
              <img src="images/5.jpg" alt="" />
              <span class="icon">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
            <div class="info pt-40">
              <h3 class="fsz-30 mb-10">Zumar Branding</h3>
              <p class="fsz-14 color-999">Branding</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="../inner_pages/page_single_project.html" class="portfolio-card sm-card">
            <div class="img img-cover">
              <img src="images/5.jpg" alt="" />
              <img src="images/6.jpg" alt="" />
              <span class="icon">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
            <div class="info pt-40">
              <h3 class="fsz-30 mb-10">Jamx - Jamstact Conf Site</h3>
              <p class="fsz-14 color-999">Web Design, Illustration, Animation</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="button_su mt-90">
        <span class="su_button_circle desplode-circle bg-black"></span>
        <a href="#" class="butn text-capitalize button_su_inner hover-white">
          <span class="button_text_container">
            See more work <i class="ti-arrow-top-right ms-2"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
