<div class="tc-services-style1 main-box-style1 bg-white radius-9 mx-4 my-3">
  <div class="container">
    <div class="tc-section-title-style1 mb-40">
      <h2>Our Main <span> Services</span></h2>
    </div>
    <div class="content">
      <div class="row justify-content-between">
        <div class="col-lg-3">
          <a href="../inner_pages/page_services.html" class="service-card wow fadeInUp">
            <div class="icon mb-50">
              <img src="images/branding.svg" alt="" />
            </div>
            <div class="info">
              <h5 class="fsz-20 mb-30 fw-bolder">Brand Identity</h5>
              <p class="fsz-14 color-999 mb-20">
                We bringing the history of your brand to the forefront gives an emotional dimension to your visual
                identity,
              </p>
              <ul>
                <li>Brand Strategy</li>
                <li>Brand Consulting</li>
                <li>Photography</li>
                <li>3D Design &amp; Illustration</li>
              </ul>
              <span class="arrow">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="../inner_pages/page_services.html" class="service-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="icon mb-50">
              <img src="images/interaction.svg" alt="" />
            </div>
            <div class="info">
              <h5 class="fsz-20 mb-30 fw-bolder">Interaction</h5>
              <p class="fsz-14 color-999 mb-20">
                We design and development digital products to help increase highest conversion rate for your business
              </p>
              <ul>
                <li>Website &amp; Mobile App Design</li>
                <li>UX &amp; Product Design</li>
                <li>Product Development</li>
                <li>CRM &amp; System Management</li>
                <li>TVC &amp; Motion Design</li>
              </ul>
              <span class="arrow">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="../inner_pages/page_services.html" class="service-card wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon mb-50">
              <img src="images/marketing.svg" alt="" />
            </div>
            <div class="info">
              <h5 class="fsz-20 mb-30 fw-bolder">SEO &amp; Marketing</h5>
              <p class="fsz-14 color-999 mb-20">
                Help increase the traffic into your business via marketing online &amp; offline. Improve the rank of
                your business on the world
              </p>
              <ul>
                <li>Marketing Strategy &amp; Consulting</li>
                <li>SEO / PPC</li>
                <li>Social Media Marketing</li>
              </ul>
              <span class="arrow">
                <i class="ti-arrow-top-right"></i>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
