<section class="tc-testimonials-style1">
  <div class="container">
    <div class="tc-section-title-style1 mb-90">
      <h2>Client’s <span> Testimonials</span></h2>
    </div>
    <div class="tc-testimonials-slider1 overflow-hidden wow fadeInUp">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testi-card">
            <div class="text">
              “Swak - A studio with passionate, professional and full creativity. Much more than what i’m expect. Great
              services, high quality product and affordable price. I’m extremly satisfied!.”
            </div>
            <div class="btm-info">
              <div class="row">
                <div class="col-lg-8">
                  <div class="client-card d-flex align-items-center">
                    <div class="img icon-45 rounded-circle overflow-hidden img-cover me-3">
                      <img src="images/4_1.png" alt="" />
                    </div>
                    <div class="inf">
                      <h6 class="fsz-16 fw-bold mb-1">Bradley Gordon</h6>
                      <p class="fsz-14 color-666">
                        CEO of
                        <a href="#" class="text-primary"> Zumar</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                  <a href="#" class="butn main-hover-black fsz-14 px-4 py-3">
                    <span>
                      Play Video
                      <i class="la la-play ms-1 fsz-18"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testi-card">
            <div class="text">
              “Thank you very much for the support of the Swak team, who have been with our business for more than 3
              years. A long journey with many exciting experiences and moments. We are so lucky to have yous. Swak will
              always be our #1 choice!”
            </div>
            <div class="btm-info">
              <div class="row">
                <div class="col-lg-8">
                  <div class="client-card d-flex align-items-center">
                    <div class="img icon-45 rounded-circle overflow-hidden img-cover me-3">
                      <img src="images/2_1.png" alt="" />
                    </div>
                    <div class="inf">
                      <h6 class="fsz-16 fw-bold mb-1">Bradley Gordon</h6>
                      <p class="fsz-14 color-666">
                        CEO of
                        <a href="#" class="text-primary"> Zumar</a>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                                                <a href="#" class="butn main-hover-black fsz-14 px-4 py-3"> <span> Play Video <i class="la la-play ms-1 fsz-18"></i> </span> </a>
                                            </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="slider-controls">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
