---
import '../styles/globals.css';
import '../styles/bootstrap.min.css';
import '../styles/plugin.min.css';
import '../styles/style.css';
import '../styles/all.min.css';

import '../styles/responsive.css';
import '../styles/darkmode.css';
import '../styles/brands.css';

// import '../styles/all.min.css';
import SEO from '../components/SEO.astro';
import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
  slug?: string;
}

const {
  title,
  description,
  siteName = 'Alifsense',
  canonical,
  ogImage,
  ogType,
  twitterHandle,
  slug,
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <SEO {...{ title, description, siteName, canonical, ogImage, ogType, twitterHandle, slug }} />
    <!-- <ViewTransitions fallback="swap" /> -->
    <!-- <script src="../scripts/gsap"></script> -->
    <script type="text/javascript">
      (function (w, d, s, u, wid, id, tid, dm) {
        w.mxq = w.mxq || [];
        w.mxq.push({ wid: wid, id: id, tid: tid, dm: dm });
        var js,
          fjs = d.getElementsByTagName(s)[0];
        js = d.createElement(s);
        js.async = true;
        js.src = u + '?t=' + new Date().getTime();
        fjs.parentNode.insertBefore(js, fjs);
      })(
        window,
        document,
        'script',
        'https://maximise.nyc3.cdn.digitaloceanspaces.com/pixel.min.js',
        'RMieIJj0M7RIDmr7',
        'AmCgfwmd4G5BzD5WJSb7n',
        '673cb9110b91b5bfb672af51',
        ['alifsense.com']
      );
    </script>
    <base href="/" />
  </head>

  <body>
    <!--Start Preloader -->
    <!-- <div class="onloadpage" id="page_loader">
      <div class="pre-content">
        <div class="logo-pre"><img src="images/logo.png" alt="Logo" class="img-fluid" /></div>
        <div class="pre-text- text-radius text-light text-animation bg-b">AlifSense - Creative Development Agency</div>
      </div>
    </div> -->
    <!--End Preloader -->
    <slot />
    <script is:inline src="/js/modernizr-3.5.0.min.js"></script>
    <script is:inline src="/js/jquery.min.js"></script>
    <script is:inline src="/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/js/plugin.min.js"></script>
    <script is:inline src="/js/preloader.js"></script>
    <script is:inline async src="/js/typer.js"></script>

    <script is:inline src="/js/dark-mode.js"></script>
    <script is:inline src="/js/main.js"></script>
  </body>
</html>
