---
import '../styles/all.css';
// import '../styles/style.css';
import '../styles/all.min.css';

import SEO from '../components/SEO.astro';
import { ViewTransitions } from 'astro:transitions';
import MouseCursor from '@components/MouseCursor.astro';

export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
  slug?: string;
}

const {
  title,
  description,
  siteName = 'Alifsense',
  canonical,
  ogImage,
  ogType,
  twitterHandle,
  slug,
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <SEO {...{ title, description, siteName, canonical, ogImage, ogType, twitterHandle, slug }} />
    <!-- <ViewTransitions fallback="swap" /> -->
    <!-- <script src="../scripts/gsap"></script> -->

    <base href="/" />
  </head>

  <body class="home-style1 bg-light1 dark-theme">
    <!--Start Preloader -->
    <!-- <div class="onloadpage" id="page_loader">
      <div class="pre-content">
        <div class="logo-pre"><img src="images/logo.png" alt="Logo" class="img-fluid" /></div>
        <div class="pre-text- text-radius text-light text-animation bg-b">AlifSense - Creative Development Agency</div>
      </div>
    </div> -->
    <!--End Preloader -->
    <MouseCursor />

    <slot />
    <!-- request  -->
    <script is:inline src="/js/jquery-3.0.0.min.js"></script>
    <script is:inline src="/js/jquery-migrate-3.0.0.min.js"></script>
    <script is:inline src="/js/gsap.min.js"></script>
    <script is:inline src="/js/bootstrap.min.js"></script>
    <script is:inline src="/js/wow.min.js"></script>
    <script is:inline src="/js/jquery.fancybox.js"></script>
    <script is:inline src="/js/lity.js"></script>
    <script is:inline src="/js/swiper8-bundle.min.js"></script>
    <script is:inline src="/js/jquery.waypoints.min.js"></script>
    <script is:inline src="/js/jquery.counterup.js"></script>
    <script is:inline src="/js/parallaxie.js"></script>

    <!-- ===gsap=== -->

    <script is:inline src="/js/gsap.min.js"></script>
    <script is:inline src="/js/ScrollSmoother.js"></script>
    <script is:inline src="/js/ScrollTrigger.js"></script>
    <script is:inline src="/js/SplitText.min.js"></script>

    <!-- === home scripts === -->

    <script is:inline src="/js/common_js.js"></script>
    <script is:inline src="/js/home_1_scripts.js"></script>
  </body>
</html>
